@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<p><b>Our address:</b></p>
<address>
    1750 Finch Avenue East<br />
    North York, ON M2J 2X5<br />
</address>

<p><b>For general inquiries call:</b></p>
<address>
    <abbr title="Phone">P:</abbr>
    (416)491-5050
</address>

<p><b>Send an email to:</b></p>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">psthakkar1@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">psthakkar1@example.com</a>
</address>