@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Parita Sunilbhai Thakkar</h1>
    <p class="lead">This is an ASP.NET Web Application for "Venue" objects.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Using this Web Application you can...</h4>
        <li>View a list of all Venues - Get All</li>
        <li>Search a Venue by its ID - Get One</li>
        <li>Add new Venues to the list - Add New</li>
        <li>Edit an existing venue's information - Edit Existing</li>
        <li>Delete a venue from the list - Delete Existing</li>
    </div>
</div>